<form id="frmAltaPelicula" name="frmAltaPelicula" method=post> 
  <input type="hidden" name="action" value="Pelicula::agregarPelicula">	

  <table align="center" border="0" cellpadding="3" cellspacing="0" width="90%" id="mainTable">

    <!-- START BLOCK : block_valor_submit -->
    <tr>
      <th colspan="4" align="center"> {var_valor_submit}</th>
    </tr>
    <!-- END BLOCK : block_valor_submit -->

    <tr>
      <th colspan="4" align="center"> <b>Alta Pel&iacute;cula</b></th>
    </tr>

    <tr><td><br /></td></tr>

    <tr>
      <th align="right" width="35%">Nombre: </th>
      <td align="left"><input type="text" name="nombrePelicula" id="nombrePelicula" size="50" maxlength="150"></td>
    </tr>

    <tr>
      <th align="right" width="35%">G&eacute;nero: </th>
      <td align="left">
        <select name="genero" id="genero">
          <option value="noSelect"> -- Seleccionar un Género -- </option>
          <!-- START BLOCK : block_listado_generos -->
            <option value="{var_genero_id}">{var_genero_nombre}</option>
          <!-- END BLOCK : block_listado_generos -->
        </select>
      </td>
    </tr>  

    <tr>
      <th align="right" width="35%">Director: </th>
      <td align="left">
        <select name="director" id="director">
          <option value="noSelect"> -- Seleccionar un Director -- </option>
          <!-- START BLOCK : block_listado_directores -->
            <option value="{var_director_id}">{var_director_nombre}</option>
          <!-- END BLOCK : block_listado_directores -->  
        </select>
      </td>
    </tr> 

    <tr>
      <th align="right" width="35%">Duración: </th>
      <td align="left"><input type="text" name="duracion" id="duracion"></td>
    </tr>

    <tr>
      <th align="right" width="35%">Fecha de estreno: </th>
      <td align="left"><input type="text" name="fechaEstreno" id="fechaEstreno"></td>
    </tr>


    <tr><td><br /></td></tr>
    <tr>
      <td colspan="2" align="center">
        <input type="button" onclick="location.href='index.php?action=Ingreso::main'" value=" Volver ">
        <input type="submit" value=" Guardar ">
      </td>
    </tr>
    <tr><td><br /></td></tr>

  </table>
</form>