<form id="frmAltaPelicula" name="frmAltaPelicula" method=post> 
        <input type="hidden" name="action" value="Pelicula::editarPeliculaEnDb">	
      
        <table align="center" border="0" cellpadding="3" cellspacing="0" width="90%" id="mainTable">
      
          <!-- START BLOCK : block_valor_submit -->
          <tr>
            <th colspan="4" align="center"> {var_valor_submit}</th>
          </tr>
          <!-- END BLOCK : block_valor_submit -->
      
          <tr>
            <th colspan="4" align="center"> <b>Editar Película</b></th>
          </tr>
      
          <tr><td><br /></td></tr>
      
          <!-- START BLOCK : block_pelicula_datos -->
          <tr>
            <th align="right" width="35%">Nombre: </th>
            <td align="left"><input type="text" name="nombrePelicula" id="nombrePelicula" size="50" maxlength="150" value="{var_pelicula_nombre}"></td>
          </tr>

         
      
          <tr>
            <th align="right" width="35%">Género: </th>
            <td align="left">
              <select name="genero" id="genero">
                <option value="noSelect"> -- Seleccionar un Género -- </option> 
                <!-- START BLOCK : block_listado_generos -->
                  <option value="{var_genero_id}" {var_genero_selected}>{var_genero_nombre}</option>
                <!-- END BLOCK : block_listado_generos -->
              </select>
            </td>
          </tr>  
      
          <tr>
            <th align="right" width="35%">Director: </th>
            <td align="left">
              <select name="director" id="director">
                <option value="noSelect"> -- Seleccionar un Director -- </option>
                <!-- START BLOCK : block_listado_directores -->
                  <option value="{var_director_id}" {var_director_selected}>{var_director_nombre}</option>
                <!-- END BLOCK : block_listado_directores -->  
              </select>
            </td>
          </tr> 
      
          <tr>
            <th align="right" width="35%">Duración: </th>
            <td align="left"><input type="text" name="duracion" id="duracion" value="{var_pelicula_duracion}"></td>
          </tr>
      
          <tr>
            <th align="right" width="35%">Fecha de estreno: </th>
            <td align="left"><input type="text" name="fechaEstreno" id="fechaEstreno" value="{var_pelicula_fecha_estreno}"></td>
          </tr>
      
      
          <tr><td><br /></td></tr>
          <!-- END BLOCK : block_pelicula_datos -->  
          <tr>
            <td colspan="2" align="center">
              <input type="button" onclick="location.href='index.php?action=Pelicula::listadoPeliculas'" value=" Volver ">
              <input type="submit" value=" Editar ">
            </td>
          </tr>
          <tr><td><br /></td></tr>
      
        </table>
      </form>