<center>
    <table align="center" border="1" cellpadding="3" cellspacing="0" width="90%">
           
        <input type="button" onclick="location.href='index.php?action=Ingreso::main'" value=" Volver ">
      
        <br>
        <br>
    
        <tr>
            <th colspan="5" align="center"> <b>Listado de Directores</b></th>
        </tr>
        <tr>
    
            <th align="center" width="30%">Nombre</th>
            <th align="center" width="10%">Apellido</th>
            <th align="center" width="10%">Nombre Artístico</th>
            <th align="center" width="10%">DNI</th>
            <th align="center" width="40%">Mail</th>
    
        </tr>
        <!-- START BLOCK : block_listado_directores -->
        <tr>
            
            <td> {var_director_nombre} </td>
            <td> {var_director_apellido} </td>
            <td> {var_director_nombre_artistico} </td>
            <td> {var_director_dni} </td>
            <td> {var_director_mail} </td>
            
        </tr>
        <!-- END BLOCK : block_listado_directores -->
        
        <!-- START BLOCK : noresults_directores -->
        <tr>
            <td> No hay directores cargados </td>
        </tr>  
        <!-- END BLOCK : noresults_directores -->
    
        
    </table>
        <br>
        <input type="button" onclick="location.href='index.php?action=Ingreso::main'" value=" Volver ">
        <br>
    </center>