<center>
<table align="center" border="1" cellpadding="3" cellspacing="0" width="90%">
       
    <input type="button" onclick="location.href='index.php?action=Ingreso::main'" value=" Volver ">
   	
  
    <br>
    <br>

    <tr>
        <th colspan="7" align="center"> <b>Listado de Peliculas</b></th>
    </tr>
    <tr>

        <th align="center" width="30%">Nombre</th>
        <th align="center" width="10%">Genero</th>
        <th align="center" width="15%">Director</th>
        <th align="center" width="10%">Duracion</th>
        <th align="center" width="40%">Actores</th>
        <th align="center" width="50%">Editar</th>
        <th align="center" width="50%">Eliminar</th>

    </tr>
    <!-- START BLOCK : block_listado_peliculas -->
    <tr>
        
        <td> {var_pelicula_nombre} </td>
        <td> {var_pelicula_genero} </td>
        <td> {var_pelicula_director} </td>
        <td> {var_pelicula_duracion} </td>
        <td> {var_pelicula_actores} </td>
        
        <td> <a href="index.php?action=Pelicula::editarPelicula&id={idPelicula}"> E </a> </td>
        <td> <a href="index.php?action=Pelicula::eliminarPelicula&id={idPelicula}"> B </a> </td>
        
    </tr>
    <!-- END BLOCK : block_listado_peliculas -->
    
    <!-- START BLOCK : noresults_peliculas -->
    <tr>
        <td> No hay peliculas cargadas </td>
    </tr>  
    <!-- END BLOCK : noresults_peliculas -->

    
    <tr>
        <td>El Se&ntilde;or de los Anillos: las dos torres</td>
        <td>Acci&oacute;n Fantas&iacute;a</td>
        <td>Peter Jackson</td>
        <td>223 minutos</td>
        <td>Elijah Wood, Ian McKellen, Liv Tyler, Viggo Mortensen, Sean Astin</td>
    </tr>

    
</table>
    <br>
    <input type="button" onclick="location.href='index.php?action=Ingreso::main'" value=" Volver ">
    <br>
</center>