<center>
    
    <input type="button" onclick="location.href='index.php?action=Ingreso::main'" value=" Volver ">
    
    <br>
    <br>

    <b>Listado de Peliculas por Genero</b>
    
    
    <!-- START BLOCK : block_genero -->
    
    <h1 style="margin-top: 10px;"> {var_genero} </h1>  
    
    <table align="center" border="1" cellpadding="3" cellspacing="0" width="90%">
        <tr>
            
            <th align="center" width="30%">Nombre</th>
            <th align="center" width="10%">Director</th>
            <th align="center" width="10%">Duracion</th>
            <th align="center" width="40%">Actores</th>
            
        </tr>
    

        <!-- START BLOCK : block_listado_peliculas -->
        
        <tr>

            <td> {var_pelicula_nombre} </td>
            <td> {var_pelicula_director} </td>
            <td> {var_pelicula_duracion} </td>
            <td> {var_pelicula_actores} </td>
            
        </tr>
    
        <!-- END BLOCK : block_listado_peliculas -->
    </table>
    <!-- END BLOCK : block_genero -->

 
    <!-- START BLOCK : noresults_peliculas -->
    <tr>
        <td> No hay peliculas cargadas </td>
    </tr>  
    <!-- END BLOCK : noresults_peliculas -->

    <br>
    <input type="button" onclick="location.href='index.php?action=Ingreso::main'" value=" Volver ">
    <br>
</center>