<ul>
  <li>
    <a href="index.php?action=Pelicula::altaPelicula">Alta Película</a>
  </li>
  <li>
    <a href="index.php?action=Pelicula::listadoPeliculas">Listado Peliculas</a>
  </li>
  <li>
    <a href="index.php?action=Pelicula::listadoPeliculasPorGenero">Listado Peliculas por género</a>
  </li>
  <li>
    <a href="index.php?action=Pelicula::listadoPeliculasPorDirector">Listado Peliculas por director</a>
  </li>
  <li>
    <a href="index.php?action=Pelicula::listadoDirectores2">Listado Directores</a>
  </li>
</ul>
